body{
	margin:0px;
	background-color:#ebd6d6;
}
nav{
	display:flex;
	}
nav>.mywebsite{
	flex:none;
	font-size:20px;font-weight:bold;padding:10px;margin:10px;
	}
nav>.itembox{
	flex:auto;
	display:flex;
	justify-content:flex-end;
	margin:10px;
}
.item{
	flex:none;
	font-size:20px;padding:10px;
}

.welcome{
	height:300px;
	background-color:#c48888;
	font-weight:bold;font-size:40px;
	text-align:center;
	
}
label{
	display:none;
	width:1px
}
main{
	width:1200px;margin-left:auto;margin-right:auto;
	display:flex;flex-wrap:wrap;
	justify-content:center;
}
main>.box{
	flex:none;
	width:270px;margin:10px;
	background-color:#c48888;
}
.title{
	text-align:center;
}
img{width:270px;}
@media (max-width:1200px){
	main>.box{
		width:45%;
	}
	img{
		width:100%;
	}
	main{
		width:100%;
	}
}

@media (max-width:600px){
	nav>.itembox{
		justify-content:center;
		display:none;
	}
	label{
		justify-content:flex-end;
		margin:10px;
		padding:10px;
		flex:auto;
		display:block;
	}
	main>.box{
		width:90%;
	}
	img{
		width:100%;
	}
	main{
		width:100%;
	}
}
